html,
body {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  background-color: #000;
  overflow: hidden;
}

.puzelm {
  position:relative;
  margin:1px auto;
  padding:1px;
  text-align:center;
}

.puzcnv {
  display:block;
  margin:2px auto 29px auto;
}

.puzimg {
  display: none;
  position:absolute;
  left:15px;
  right:0;
  left:0;
  bottom:0;
  margin:0 auto 0 8%;
  width:30px;
  height:25px;
  cursor:pointer;
}

.puzimg:hover {
  width:39%;
  height:auto;
  border:2px solid blue;
  background:#fff;
  padding:2px;
}

.puzsolve {
  display:none;
  margin:-25px auto 1px auto;
}
